body{
    background-color: azure;
}
.rodape{
    background-color: rgb(218, 144, 144);
    text-align: center;
}

.rodape-imagem{
    height: 90px;
    padding: 120px 0;

}
.cabecalho-imagem{
    width: 20%;
}
.cabecalho {
    background-color: #e9ffad;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 300px;
    font-size: 24px;
}
